<form action="http://localhost:4000/process" method="POST">
    <input type="hidden" name="_csrf" value=<%= csrfToken %>>
    Favorite color : <input type="text" name="favoriteColor">
    <button type="submit"> Submit</button>

</form>